:root {
  --black: #171717;
  --white: #fafafa;
  --gray: #404040;
  --orange: #ea580c;
  --red: #c83044;

  --white-rgb: 250 250 250;
  --gray-rgb: 64 64 64;
  --orange-rgb: 234 88 12;
  --red-rgb: 200 48 68;

  --transparent-gray: rgba(var(--gray-rgb) / 25%);

  --rounded: 9999px;
  --ease: 300ms ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scrollbar-color: var(--gray) var(--transparent-gray);
}

html {
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
  text-wrap: balance;
}

h1 {
  font-size: 2.027rem;
}

h2 {
  font-size: 1.802rem;
}

p {
  text-wrap: pretty;
}

small {
  font-size: 0.889rem;
}

hgroup {
  display: grid;
  gap: 0.5rem;
  max-width: 40rem;
  width: 100%;
}

ul {
  list-style: none;
}

form {
  display: grid;
  gap: 2rem;
}

form [form-container="columns"] {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

form [form-container="columns"] button {
  justify-content: center;
}

label {
  display: grid;
  gap: 0.5rem;
  font-weight: 600;
}

input,
textarea,
select {
  all: unset;
  background-color: var(--transparent-gray);
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
}

textarea {
  overflow-wrap: break-word;
  resize: vertical;
}

input:hover,
textarea:hover,
select:hover {
  cursor: text;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 2px solid var(--white);
}

::selection {
  background-color: rgba(var(--orange-rgb) / 25%);
}
