:root {
  --black: #171717;
  --white: #fafafa;
  --gray: #404040;
  --orange: #ea580c;

  --white-rgb: 250 250 250;
  --gray-rgb: 64 64 64;
  --orange-rgb: 234 88 12;

  --transparent-gray: rgba(var(--gray-rgb) / 20%);

  --rounded: 9999px;
  --ease: 500ms ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scrollbar-color: var(--gray) var(--transparent-gray);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
  font-size: 2.027rem;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

hgroup {
  display: grid;
  gap: 0.5rem;
  max-width: 48rem;
  width: 100%;
}

ul {
  list-style: none;
}
